@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(250, 250, 250);
}
.h{
    font-family: Arial, Helvetica, sans-serif;
    color: #0165E1;
    font-size: 60px;
    margin-top: 15%;
    margin-left: 10%;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 10%;
    margin-top: 1%;
}
.form1{
    float: right;
    margin-right: 200px;
    margin-top: -230px;
}
.email{
    margin-top: 5%;
    margin-left: 19px;
    font-size: 17px;
    width: 9cm;
    height: 1.2cm;
    border-radius: 5px;
    border-width: 0.001cm;
    padding-left: 0.5cm;
}
.psswrd{
    font-size: 17px;
    margin: 0.5cm;
    width: 9cm;
    height: 1.2cm;
    border-radius: 5px;
    border-width: 0.001cm;
    padding-left: 0.5cm;
}
.btn1{
    height: 50px;
    width: 359px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(63, 105, 223);
    color: white;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(63, 105, 223);
}
form{
    box-shadow: 1px 1px 10px 1px rgb(194, 194, 194);
    background-color: white;
    height: 45ch;
    width: 50ch;
    margin-top: 0;
    border-radius: 10px;
}
.forgot{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 135px;
    background-color: white;
    background: white;
    margin-top: 25px;
}
.btn2{
    height: 48px;
    width: 173px;
    margin-left: 114px;
    margin-top: 22px;
    background-color: rgb(56, 204, 56);
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    font-size: 15px;
    border-color: rgb(56, 204, 56);
}
a{
    text-decoration: none;
}
.p1{
    margin-top: 24px;
    font-size: 15px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 340px;
    margin-top: 18px;
    margin-left: 28px;
}
